@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap");
@import "tailwindcss";

:root {
  --background: #f3ecd2;
  --foreground: #f3ecd2;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  /* Update these lines to use your new font variables */
  --font-sans: var(--font-normal-text);
  --font-mono: var(--font-normal-text);
  --font-heading-bold: var(--font-heading-bold);
  --font-heading-xbold: var(--font-heading-xbold);

}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f3ecd2;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  /* Set the default font for the entire body */
  font-family: var(--font-normal-text), Arial, Helvetica, sans-serif;
}

body {
  cursor: url("/cursor/normal.svg") 16 16, auto;
}

/* ---------------------- */
/* Custom Cursor Utilities */
/* ---------------------- */
@layer utilities {
  .cursor-normal {
    cursor: url("/cursor/normal.svg") 16 16, auto;
  }

  .cursor-write {
    cursor: url("/cursor/write.svg") 16 16, text;
  }

  .cursor-pointer {
    cursor: url("/cursor/point.svg") 16 16, pointer;
  }

  .cursor-open {
    cursor: url("/cursor/open.svg") 16 16, grab;
  }

  .cursor-clinch {
    cursor: url("/cursor/clinch.svg") 16 16, grabbing;
  }

  .cursor-blind {
    cursor: url("/cursor/blind.svg") 16 16, auto;
  }
}

body::-webkit-scrollbar {
  display: none;
}

::selection {
  background: black; /* highlight color */
  color: white; /* text color while selected */
}

.font-quicksand {
  font-family: "Quicksand", Arial, sans-serif;
}

.nav-link {
  position: relative;
  display: inline-block;
}

.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  height: 2px;
  width: 100%;
  background-color: currentColor;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s ease;
}

.nav-link:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

html {
  scroll-behavior: smooth;
}

img,
svg {
  user-select: none;
  -webkit-user-drag: none;
}

.with-shadow {
  filter: drop-shadow(0px 10px 0px rgba(0, 0, 0, 0.15));
  transition: all 0.2s ease-out;
}

.with-shadow:hover {
  transform: translateY(4px);
  filter: drop-shadow(0px 6px 0px rgba(0, 0, 0, 0.2));
}
